body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: rgb(129, 20, 172);
  font-size: 16px;
  width: 250px;
  position: relative;
  color: grey
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.active {
  font-weight: bold;
}

.label{
  font-weight: bold;
  font-style: italic;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 20px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.result{
  width: 300px;
  max-width: 200px;
  margin : 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.option{
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius : 3px;
  padding: 10px;
  margin-bottom: 10px;
  border-spacing: 5px;
  background-color: cadetblue;
  text-emphasis-color: black;
  color: black;
}
.polldetail {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin : 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}
.poll {
  width: 100%;
  max-width: 400px;
  max-height: 250px;
  
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  padding-bottom: 20px;
}

.tabPanel{
    width: 100%;
    max-width: 800px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;  
}


.question{
    width: 100%;
    max-width: 590px;
    padding: 5px;
    display: block;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;  
}

.new-question > input {
 
  display: block;
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  height:25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
.question > h4{
  font-weight: bold
}
.question > h3{
  display: block;
  width:300px;
}
.question > label {
  width : 300px;
  height: 50px;
  display: block;
}

.poll-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.poll-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.poll-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.poll-info > div > div {
  color: #969696;
  font-size: 15px;
}
.poll-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.poll-icons {
  display: flex;
  align-items: center;
}
.poll-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.poll-icon {
  font-size: 27px;
  color: #697784;
}
.poll-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-poll {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.new-question {
  width: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.input {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 10px;
  width : 60px;
}
.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.poll-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}
  
.leaderboard > h3 {
      font-size: 18px;
      color: #e1e1e1;
      padding: 12px 13px 18px;
}
.leaderboard > svg {
        width: 25px;
        height: 26px;
        position: relative;
        top: 3px;
        margin-right: 10px;
        vertical-align: baseline;
      }
/*  
.rowLead{
  padding-left: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  width:550px;
  border-bottom-style: solid;
  border-bottom-color: #697784;
} */
  
.leaderboard > ol {
      counter-reset: leaderboard;
}
.leaderboard > li {
        position: relative;
        z-index: 1;
        font-size: 14px;
        counter-increment: leaderboard;
        padding: 18px 10px 18px 50px;
        cursor: pointer;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.0, 1.0);
}  
/*
.mark {
          position: absolute;
          z-index: 4;
          top: 0;
          left: 0;
          width: 200%;
          height: 100%;
          padding: 18px 10px 18px 50px;
          margin: 0;
          background: none;
          color: #697784;
          text:black;
}
*/
.small {
          position: relative;
          z-index: 2;
          display: block;
          text-align: right;
        }

.number{
  float: right;
  padding-left: 80px;
  width: 20px;
  
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.navbaritem{
  padding-right: 10px;
}

.listitem{
  padding: 20px;
}

.login-container{
  margin: 20px
}

.title{
  text-align: center;
  border-style: outset;
  border-bottom-width: 1px;
  border-color: #697784;
  font-weight  : bold;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.group{
  padding-bottom: 20px;

}
.rank {
  padding: vertical;
  width: 100%;
  max-width: 400px;
  margin : 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}
.trophy-svg{
  stroke:rgb(216, 208, 192);
  fill:"cuurentColor";
  stroke-width: 4px;
  height:1em;
  width : 1em;
  color: greenyellow;

}
.trophy-silver-svg{
  stroke:rgb(216, 208, 192);
  fill:"cuurentColor";
  stroke-width: 4px;
  height:1em;
  width : 1em;
  color:silver;

}
.trophy-black-svg{
  stroke:rgb(216, 208, 192);
  fill:"cuurentColor";
  stroke-width: 4px;
  height:1em;
  width : 1em;
  color:black;

}

.header-row{
  border-bottom-style: outset;
  background-color: lightgrey;
  font:bold;
  
}

.form-header{
  
  align-content: center;
  margin-top: 2.5px;

  margin-bottom: 2.5px;
  height: 40px;
  font-size: 25px;
  border-bottom: #697784 2px outset;
  border-style: solid;
}

.form-label{
  margin-top:25px;
  
}